.snackbar {
  max-width: 40vw;
  min-width: 20vw;
  padding: 10px 10px;
  display: inline-block;
  border-radius: 5px;
  min-height: 20px;
  position: fixed;
  margin: 20px;
  p {
    margin: 0;
    vertical-align: middle;
    color: white;
    font-weight: bolder;
  }
}